html {
    height: 100%;
    background-color: #fff;
}

body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    overflow: hidden;
    background-color: #51a8fa;
}

.main-container {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -120px;
}

.start-panel-element {
    text-align: center;
}

.logo-container {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.main-container img {
    height: auto;
    min-width: 300px;
    width: 50%;
    padding-bottom: 35px;
}

.main-container button {
    height: 40px;
    font-size: 26px;
    width: 25%;
    min-width: 139px;
    cursor: pointer;
    background: #333333;
    color: lightgoldenrodyellow;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid black;
}