html {
    height: 100%;
}

body {
    min-height: 100%;
}

body.startview {
    background-color: steelblue;
}

body.playerview {
    background-color: lightyellow;
}

body.masterview {
    background-color: #53585f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#selectPanel {
    margin: 50px;

    flex: 1;
    width: 80%;
    height: 250px;
    background-color: #51a8fa;
    border-radius: 25px;
}

#selectGame {
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

select {
    margin: 50px;
    border: 1px solid #111;
    background: transparent;
    min-width: 350px;
    padding: 5px 35px 5px 5px;
    font-size: 38px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/Icons8_flat_survey.svg) 98% / 15% no-repeat #eee;
}

.title {
    font-size: 38px;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
}