html {
    height: 100%;
}

body {
    min-height: 100%;
}

body.playerview {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #51a8fa;
    padding: 0;
    margin: 0;

    flex-wrap: wrap;
    height: 100%;

    font-size: 80px;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    color: #333333;
}

#joinPanel {
    flex-basis: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    border: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.joinPanelFields {
    border: 0px;
}

.joinElement {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.joinElement input {
    text-align: center;
    height: 50px;
    width: 250px;
    font-size: 18pt;
    border-radius: 4px;
    background: lightgoldenrodyellow;
    border: 1px solid;
}

.joinElement button {
    text-align: center;
    height: 52px;
    width: 252px;
    font-size: 18pt;
    border-radius: 4px;
    font-weight: bold;
    color: lightgoldenrodyellow;
    background: #333333;
    border: 0px;
}

#questStartPanel {
    flex-basis: 100%;
    height: 100%;
    text-align: center;
    display: flex;
}

.answer-grid-4 {
    flex-basis: 100%;
    height: 100%;
    float: left;
}

.answer-grid-3 {
    flex-basis: 100%;
    height: 100%;
    float: left;
}

.answer-grid-2 {
    flex-basis: 100%;
    height: 100%;
    float: left;
}

.answer-grid-4 > div {
    width: 50%;
    height: 50%;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.answer-grid-3 > div {
    width: 33%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.answer-grid-2 > div {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.answerRed {
    background: firebrick;
}

.answerBlue {
    background: #51a8fa;
}

.answerGreen {
    background: #6fc040;
}

.answerYellow {
    background: #cdd422;
}

.answerImage {
    width: 25%
}

#message {
    font-size: 24px;
    color: #ca3319;
}