html {
    height: 100%;
}

body {
    min-height: 100%;
}

body.playerview {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #51a8fa;
    padding: 0;
    margin: 0;

    flex-wrap: wrap;
    height: 100%;

    font-size: 7vw;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    color: #333333;
}

#joinPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#joinPanel > img {
    height: auto;
    width: 45vw;
    max-width: 300px;
    min-width: 200px;
    padding-bottom: 15px;
}

.joinPanelFields {
    border: 0;
    width: 100%;
    display: flex;
}

.joinElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 15px;
}

.joinElement > input, button {
    text-align: center;
    min-height: 27px;
    width: 45vw;
    min-width: 200px;
    max-width: 300px;
    font-size: 20px;
}

.joinElement input {
    border-radius: 4px;
    background: #fafad2;
    border: 1px solid #333;
}

.joinElement button {
    border-radius: 4px;
    font-weight: bold;
    color: #fafad2;
    background: #333333;
    border: 1px solid #333;
}

#readyPanel {
    width: 80vw;
    font-size: 4vh;
    text-align: center;
}

#questStartPanel {
    flex-basis: 100%;
    height: 100%;
    text-align: center;
    display: flex;
}

/* answers */
.answer-grid-wrapper {
    width: 100%;
    height: 100%;
}

.answer-grid-wrapper > div {
    flex-basis: 100%;
    height: 100%;
    float: left;
}

.answer-grid-4 > div {
    width: 50%;
    height: 50%;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.answer-grid-3 > div {
    width: 33.33%;
    width: calc(100% / 3);
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.answer-grid-2 > div {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.answerRed {
    background: firebrick;
}

.answerBlue {
    background: #51a8fa;
}

.answerGreen {
    background: #6fc040;
}

.answerYellow {
    background: #cdd422;
}

.answerImage {
    width: 25%
}

#correctAnswerPanel {
    flex-basis: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: lightgoldenrodyellow;
    background: #6fc040;
}

#wrongAnswerPanel {
    flex-basis: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: lightgoldenrodyellow;
    background: firebrick;
}

#message {
    font-size: 3vh;
    color: #ca3319;
}

#quizEndPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

#quizResultText {
    height: 30%;
    font-size: 8vw;
}

#quizResultPlace {
    height: 30%;
    font-size: 5vw;
}

.invalid {
    outline-color: #cb0300;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: shake;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}
